
.dataTable th, .dataTable td {
    max-width: 20em;
    min-width: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#dob_container {
    margin: 0 auto;
    max-width: 1024px;
    clear: both;
}

.dataTable th {
    text-transform: capitalize;
}
#dob-box {
    text-align: center;
    padding:   1em;
    width: 95%;
}
h3 {
    background-color: #384da0;
    color: #FFF;
    line-height: 1.21em;
    padding: 1px 0 1px 13px;
    font-family: "Univers Next W01 Bold";
    font-size: 16px;
    padding-bottom: 6px;
    padding-top: 4px;
    text-transform: uppercase;
}
#page {
    background: white;
}
footer.site-footer {
    background-image:none ;
}

.savetofirebase  , .savetofirebase:visited   ,.savetofirebase:active ,.savetofirebase:focus{
    float: right;
    position: relative;
    width: auto;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    border-right: 1px solid #FFF;
    background-color: #3a509c;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 2px 7px;
    font-family: Univers NextW01 Regular  ;
    margin-bottom: 2em;
}
.savetofirebase:hover {
    background-color: #d4bc03;
    text-decoration: none;
    color:white;
}

header {
    font-size: 24px;
    text-transform: uppercase;
    color: darkblue;
    padding: 47px 0 0 43px;
    font-family: Univers Next W01 Bold;
}
header h2 {
    font-size: 18px;
    padding-left: 60px;
    text-transform: capitalize;
}